.todo {
    margin-top:10vh;
    text-align:center;
    font-size:30px;
    color:rgb(61, 64, 90);
}

ul {
    padding:0;
    margin:0;
    display: inline-block;
    text-align:left;
    width: 90px;
}
ul li {
    padding-left:8px;
    margin-bottom:6px;
    text-align: center;
    text-indent: -12px;
}