.todo-container {
    margin-top:10vh;
    text-align:center;
    font-size:30px;
    color:rgb(61, 64, 90);
}

.todolist {
    margin:40px auto;
    font-size:20px;
    width:50%;
}

ul {
    padding:0;
    margin:0;
    display: inline-block;
    text-align:left;
    width: 50vw;
    height:30vh;
    overflow-y:auto;
    
}

ul li {
    padding: 0px 0px 3px 8px;
    margin-bottom:6px;
    text-align: left;
    text-indent: 0px;
    border-bottom:1px solid rgb(139, 142, 170);
}

button:focus, input:focus {
    outline:0;
}

input {
    border:none;
    border-bottom:1px solid rgb(61, 64, 90);
    background:transparent;
    width:450px;
    margin-right:20px;
    padding:10px;
}

button {
    border:1px solid rgb(61, 64, 90);
    background:rgb(61, 64, 90);
    color:white;
    padding:10px 15px;
}

button:hover {
    cursor:pointer;
}